<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Scientific Center</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="isAuthenticated()" dropdown>
        <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Papers
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/papers">Search papers</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated()" routerLink="/journals">Journals</a>
      </li>
      <li class="nav-item" *ngIf="isEditor()">
        <a class="nav-link" routerLink="/payments/register">Payment methods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated()" routerLink="/tasks">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthor()" (click)="submitPaper()">Submit paper</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" routerLink="/signin">Signin</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()" id="signoutButton">
        <a class="nav-link" (click)="signout()">Sign out</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>