<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Issue: {{issue.month}}.{{issue.year}}</h2>
    <div *ngIf="!issue.journal?.openAccess">
      <button *ngIf="showBuy()" class="btn btn-primary btn-block" (click)="buyIssue()">Buy</button>
      <button *ngIf="showProcessing()" class="btn btn-primary btn-block" disabled="true">Validating
        payment...</button>
      <button *ngIf="showSuccess()" class="btn btn-success btn-block" disabled="true">Already bought</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Papers</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paper of issue.papers">
          <td scope="row">{{paper.title}}</td>
          <td><button class="btn btn-primary btn-block" [routerLink]="['/papers', paper.id]">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>