<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Issue: {{issue.month}}.{{issue.year}}</h2>
    <div *ngIf="!issue.journal?.openAccess">
      <button *ngIf="showBuy()" class="btn btn-primary btn-block" (click)="buyIssue()">Buy</button>
      <button *ngIf="showProcessing()" class="btn btn-primary btn-block" disabled="true">Validating
        payment...</button>
      <button *ngIf="showSuccess()" class="btn btn-success btn-block" disabled="true">Already bought</button>
    </div>
  </div>
</div>