<div class="row">
  <div class="col-md-4"></div>
  <form class="col-md-4 form" (ngSubmit)="signup()" #signupForm="ngForm">
    <h2 class="form-heading">Sign up</h2>
    <div *ngFor="let field of formFields">
      <label>{{field.name}}</label>
      <input type="text" class="form-control" [(ngModel)]="field.value.value" name="{{field.name}}">
    </div>
    <button id="signinButton" [disabled]="signupForm.form.invalid" class="btn btn-lg btn-primary btn-block"
      type="submit">Sign
      in</button>
  </form>
</div>