<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Tasks</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks" class="pointer" (click)="goToTask(task)">
          <td scope="row">{{task.name}}</td>
          <td scope="row">{{task.created | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>