<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Papers</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Highlight</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paper of papers">
          <td scope="row">{{paper.title}}</td>
          <td>{{paper.highlight}}</td>
          <td *ngIf="paper.openAccess"><button class="btn btn-primary btn-block">Download</button></td>
          <td *ngIf="!paper.openAccess"><button class="btn btn-success btn-block"
              [routerLink]="['/papers', paper.id]">Buy</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>