<div class="row">
  <div class="col-md-4"></div>
  <form class="col-md-4 form" (ngSubmit)="submit()" #myForm="ngForm">
    <h2 class="form-heading">Paper review</h2>
    <label>Changes correct</label>
    <input type="checkbox" class="form-control" [(ngModel)]="needNewReviewers" name="needNewReviewers">

    <button id="signinButton" [disabled]="myForm.form.invalid" class="btn btn-lg btn-primary btn-block"
      type="submit">Submit</button>
    <button class="btn btn-success btn-block" (click)="download()">Download</button>
  </form>
</div>